.search {
    width: 170px;
    margin-top: 50px;
    margin-left: 10px;
}
.button {
    margin-top : 10px;
    height : 40px;
    width: 100px;
}

.upload {
    margin-left : 50px;
}

.submit {
    margin-left: 60px;
    margin-top : 50px;

}
