.page_wrapper {
    background: #ececec;
}

.page_header {
    height:75px;
    padding:1rem;
    color:white;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
span {
    font-size:18px;
    /*margin-right:25px;*/

}

.page_middle {
    height:600px;
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.middle_login {
    background:white;
    width:400px;
    height:500px;
    border :1px solid #909090;
    border-radius : 20px;
    float:left;
    margin-right:100px;

}
.middle_register {
    background:white;
    width:400px;
    height:500px;
    border :1px solid #909090;
    border-radius : 20px;
    float:left;
}
img {
    padding-top : 100px;
    padding-left: 135px;
}
h2 {
    margin-top : 90px;
    text-align:center;
}
.middle_button {
    margin-top:10px;
    margin-left:50px;
    height:50px;
    width:300px;
    border:none;
    background:black;
    color:white;
    font-size:20px;
    border-radius : 10px;
}
.middle_button:hover {
    border : 2px solid black;
    background : white;
    color : black;
}

.page_footer {
    height:190px;
    background: #b0b0b0;
    text-align : center;
}

