.page_wrapper {
    background: #ececec;
}

.page_header {
    height:75px;
    padding:1rem;
    color:white;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
span {
    font-size:18px;
    /*margin-right:25px;*/
}

.page_middle {
    height:600px;
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.middle_login {
    background:white;
    width:700px;
    height:500px;
    border :1px solid #909090;
    border-radius : 20px;
}
.login_form {
    margin-top : 80px;
    margin-left : 80px;
    max-width : 500px;

}
.login_form_input {
    margin-top : 10px;
    margin-bottom : 10px;
}
.login_form_button {
    margin-top : 20px;
    margin-bottom : 20px;
    width: 100%;
    height : 40px;
}
.login_form_register {
    font-size : 20px;
}

.page_footer {
    height:190px;
    background: #b0b0b0;
    text-align : center;
}
